@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}






.text-icon {
  @apply !text-[1.1rem];
}

/* .ant-input {
  @apply focus:!outline-2 focus:!border-0;
} */

:root {
  --main_background: #f5f5f5;
}

body {
  font-size: 0.9375rem;
  line-height: 1.46667;
  font-weight: 400;
}

@theme inline {
  --color-main-background: var(--main_background);
}

@utility flex-center {
  @apply flex justify-center items-center;
}

.auth-container {
  @apply h-screen flex-center;

  .auth-body {
    @apply p-4 lg:p-8 rounded-2xl w-[80%] md:w-[50%] lg:w-[35%] mx-auto;
  }

  h2 {
    @apply text-xl font-semibold lg:text-2xl;
  }
}

.sidebar {
  .text-icon {
    @apply !text-[1.2rem];
  }

  /* .ant-menu-submenu-arrow {
    @apply before:!w-[13px]  after:!w-[13px] ;
  } */
}

/* Jodit styles */

/* Ant Design Styles */

.ant-space-item,
.ant-picker {
  width: 100% !important;
}

.custom-table-container {
  @apply overflow-x-scroll lg:overflow-auto w-full;
}

.custom-table {
  @apply w-full;

  td,
  th {
    @apply p-2 truncate text-start min-w-[100px];
  }

  thead {
    tr {
      @apply !w-full;
    }
  }
}
